body {
  background-image: url("../public/background.png");
}

h2 {
  font-size: 24px;
}
h1 {
  font-size: 30px;
}

.container {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  padding: 0px;
}

.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item {
  color: black;
}

.navbar-nav .nav-item .dropdown-item a {
  text-decoration: none;
  color: black;
}

.add-survey {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.users-response {
  padding: 0px 5px;
  color: #e56500;
  font-size: 18px;
  margin: 0px;
}
